/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2016, 05:10:58 PM
    Author     : Luisa
*/

h1{
    font-family: "Lucida Calligraphy", Times, serif;
    font-size: 60px;
    color: #2E2EFE;
    text-shadow: 2px 2px 5px #008CBA;
   
    
}
input[type=text],#Combobox {
    width:40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    padding: 5px;
}
label{
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.boton {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #008CBA;
   
}
.ul{
    width:500px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
	
}
table {
    border-collapse: collapse;
    width: 50%;

}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #008CBA;
    color: white;
}